/.vscode
.idea

*.db
*.pyc
*.bak
*.sqlite3
__pycache__/
.DS_Store
static/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Loader
KKMNOW_SRC
AKSARA_SRC
DATAGOVMY_SRC
repo.zip

# Logs
_logs/*