annotated-types==0.7.0
async-timeout==4.0.2
black==23.7.0
bleach==6.0.0
boto3==1.26.141
botocore==1.29.141
celery==5.2.3
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.0.1
click==8.1.6
cramjam==2.9.0
distlib==0.3.6
Django==5.1.3
django-better-admin-arrayfield==1.4.2
django-cache-lock==0.2.5
django-celery-results==2.5.1
django-cors-headers==3.14.0
django-environ==0.10.0
django-extensions==3.2.1
django-modeltranslation==0.18.11
django-post-office==3.6.3
django-redis==5.2.0
django-rq==2.8.1
django-ses==3.4.1
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-api-logger==1.1.16
fastparquet==2023.2.0
faker==32.1.0
filelock==3.9.0
fsspec==2023.3.0
gevent==24.11.1
gunicorn==22.0.0
identify==2.5.18
idna==3.4
iniconfig==2.0.0
jmespath==1.0.1
jsonfield==3.1.0
mergedeep==1.3.4
mypy-extensions==1.0.0
nodeenv==1.7.0
numpy==2.1.0
packaging==23.0
pandas==2.2.3
pathspec==0.11.2
pillow==11.0.0
platformdirs==3.1.0
pluggy==1.0.0
pre-commit==3.1.1
psycopg2-binary==2.9.10
pyarrow==18.1.0
pydantic==2.10.2
pydantic_core==2.27.1
pytest==7.3.1
pytest-django==4.5.2
python-dateutil==2.8.2
python-jose==3.3.0
python-redis-lock==4.0.0
python-slugify==8.0.1
pytz==2022.7.1
PyYAML==6.0.2
redis==4.5.1
requests==2.28.2
rq==1.15.1
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.3
tinycss2==1.1.1
typing_extensions==4.12.2
tzdata==2022.7
urllib3==1.26.14
virtualenv==20.20.0
webencodings==0.5.1
whitenoise==6.4.0
