<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MODS Community Application Confirmation</title>
</head>

<body>
    <h2>Application Confirmation</h2>

    <p>Thank you for your interest in joining the MODS community. We appreciate your application and will review it
        carefully.</p>

    <h3>Application Details</h3>
    <p><strong>Expertise Area:</strong> {{expertise_area}}</p>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>E-mail:</strong> {{email}}</p>
    <p><strong>Institution:</strong> {{institution}}</p>
    <p><strong>Description:</strong> {{description}}</p>


    <p>Sincerely,</p>
    <p>The MODS Team</p>
</body>

</html>
